Repository DataDog/dd-agent-comp-experiments, changes with the owners that .github/CODEOWNERS names for each.
All owners: @DataDog/container-integrations, @DataDog/agent-shared-components, @DataDog/agent-metrics-logs, @DataDog/trace-agent

Allow subscriptions to be nil, for disabled subscribers
  comp/autodiscovery/scheduler/component.go
  comp/logs/internal/sourcemgr/component.go
  comp/logs/internal/sourcemgr/sourcemgr.go
  comp/logs/launchers/file/launcher.go
  doc/wip.md
  pkg/util/subscriptions/subscriptions.go
  pkg/util/subscriptions/subscriptions_test.go
Owners: @DataDog/container-integrations, @DataDog/agent-metrics-logs

allow nil status registrations
  comp/core/status/component.go
  comp/core/status/status.go
  comp/logs/agent/agent.go
  comp/trace/agent/agent.go
Owners: @DataDog/agent-shared-components, @DataDog/agent-metrics-logs, @DataDog/trace-agent

test bundle dependencies
  comp/autodiscovery/bundle_test.go
  comp/core/bundle_test.go
  comp/logs/bundle_test.go
  comp/trace/bundle_test.go
  doc/wip.md
Owners: @DataDog/container-integrations, @DataDog/agent-shared-components, @DataDog/agent-metrics-logs, @DataDog/trace-agent

update docs
  doc/README.md
  doc/components.md
  doc/conventions.md
  doc/guidelines.md
  doc/wip.md
Owners: none

docs
  doc/components.md
Owners: none

partial doc update
  comp/logs/bundle.go
  comp/logs/bundle_test.go
  doc/README.md
  doc/conventions.md
  doc/defining.md
  doc/guidelines.md
  doc/using.md
  doc/wip.md
Owners: @DataDog/agent-metrics-logs

simplify test
  comp/core/health/component_test.go
Owners: @DataDog/agent-shared-components

remove leftover Configure method from comp/core/log
  comp/core/log/component.go
  comp/core/log/component_test.go
  comp/core/log/logger.go
Owners: @DataDog/agent-shared-components

TODOs from review
  doc/wip.md
Owners: none

bring docs up to date with current implementation
  doc/README.md
  doc/conventions.md
  doc/defining.md
  doc/future.md
  doc/using.md
  doc/wip.md
Owners: none

Finish some TODOs and move the rest to issues
  comp/core/flare/reg/reg.go
  doc/README.md
  doc/conventions.md
  doc/open-questions.md
  doc/wip.md
  pkg/util/startup/startup.go
Owners: @DataDog/agent-shared-components

fix oopses
  comp/core/health/component_test.go
  pkg/util/startup/startup.go
Owners: @DataDog/agent-shared-components

use config.MockModule to avoid depending on datadog.yaml
  comp/core/health/component_test.go
  comp/core/log/component_test.go
  comp/logs/launchers/file/launcher_test.go
Owners: @DataDog/agent-shared-components, @DataDog/agent-metrics-logs

For subcommands using IPC, put the client in cmd/
  cmd/agent/flare/command.go
  cmd/agent/health/command.go
  cmd/agent/status/command.go
  comp/core/flare/component.go
  comp/core/flare/flare.go
  comp/core/health/component.go
  comp/core/health/health.go
  comp/core/status/component.go
  comp/core/status/status.go
  doc/conventions.md
Owners: @DataDog/agent-shared-components

Refactor use of value groups to define an fx.Out type
  comp/autodiscovery/scheduler/autodiscovery.go
  comp/autodiscovery/scheduler/component.go
  comp/core/flare/component.go
  comp/core/flare/flare.go
  comp/core/flare/flare_test.go
  comp/core/flare/reg.go
  comp/core/flare/reg/reg.go
  comp/core/health/component.go
  comp/core/health/component_test.go
  comp/core/health/handle.go
  comp/core/health/health.go
  comp/core/ipc/ipcserver/component.go
  comp/core/ipc/ipcserver/ipcserver.go
  comp/core/status/component.go
  comp/core/status/reg.go
  comp/core/status/status.go
  comp/logs/agent/agent.go
  comp/logs/internal/sourcemgr/component.go
  comp/logs/internal/sourcemgr/sourcemgr.go
  comp/logs/launchers/file/launcher.go
  comp/logs/launchers/launchermgr/component.go
  comp/logs/launchers/launchermgr/manager.go
  comp/trace/agent/agent.go
  comp/trace/internal/processor/processor.go
  comp/trace/internal/tracewriter/tracewriter.go
  doc/conventions.md
  pkg/util/subscriptions/subscriptions.go
  pkg/util/subscriptions/subscriptions_test.go
  pkg/util/subscriptions/types.go
Owners: @DataDog/container-integrations, @DataDog/agent-shared-components, @DataDog/agent-metrics-logs, @DataDog/trace-agent

name value groups after the collecting package
  comp/core/flare/component.go
  comp/core/flare/flare.go
  comp/core/health/component.go
  comp/core/health/health.go
  comp/core/ipc/ipcserver/component.go
  comp/core/ipc/ipcserver/ipcserver.go
  comp/core/status/component.go
  comp/core/status/status.go
  comp/logs/launchers/launchermgr/component.go
  comp/logs/launchers/launchermgr/manager.go
  doc/conventions.md
  doc/fx.md
  pkg/util/subscriptions/subscriptions.go
Owners: @DataDog/agent-shared-components, @DataDog/agent-metrics-logs

fix typo
  README.md
Owners: none

add a little detail to Invoke and Provide
  doc/fx.md
Owners: none

doc tweaks based on review feedback
  doc/conventions.md
  doc/defining.md
  doc/future.md
  doc/fx.md
Owners: none

updates from review
  comp/autodiscovery/scheduler/autodiscovery.go
  comp/core/flare/reg/reg.go
  comp/logs/internal/sourcemgr/sourcemgr.go
  comp/logs/launchers/file/launcher.go
  comp/logs/launchers/launchermgr/manager.go
  comp/trace/internal/processor/processor.go
  comp/trace/internal/tracewriter/tracewriter.go
  doc/defining.md
  pkg/util/actor/actor.go
  pkg/util/actor/actor_test.go
  pkg/util/startup/startup.go
Owners: @DataDog/container-integrations, @DataDog/agent-shared-components, @DataDog/agent-metrics-logs, @DataDog/trace-agent

Move liveness monitoring into the actor struct
  comp/autodiscovery/scheduler/autodiscovery.go
  comp/core/health/component_test.go
  comp/core/health/handle.go
  comp/core/health/health.go
  comp/logs/internal/sourcemgr/sourcemgr.go
  comp/logs/launchers/file/launcher.go
  comp/trace/internal/processor/processor.go
  comp/trace/internal/tracewriter/tracewriter.go
  doc/conventions.md
  pkg/util/actor/actor.go
  pkg/util/actor/actor_test.go
  pkg/util/actor/health.go
Owners: @DataDog/container-integrations, @DataDog/agent-shared-components, @DataDog/agent-metrics-logs, @DataDog/trace-agent

use a mock config for actor tests
  pkg/util/actor/actor_test.go
Owners: none

refuse to load on-disk config if in a test binary
  comp/core/config/config.go
  pkg/util/testing/istest.go
Owners: @DataDog/agent-shared-components

Improve testing support
  comp/core/bundle.go
  comp/core/config/config.go
  comp/core/flare/flare_test.go
  comp/core/health/component_test.go
  comp/core/log/component_test.go
  comp/logs/launchers/file/launcher_test.go
  doc/defining.md
  doc/using.md
  pkg/util/actor/actor_test.go
  pkg/util/comptest/fx.go
  pkg/util/subscriptions/subscriptions_test.go
Owners: @DataDog/agent-shared-components, @DataDog/agent-metrics-logs

Refactor command-running to run oneshots after startup
  cmd/agent/flare/command.go
  cmd/agent/health/command.go
  cmd/agent/run/command.go
  cmd/agent/status/command.go
  cmd/common/oneshot.go
  cmd/traceagent/run/command.go
  pkg/util/fxapps/oneshot.go
  pkg/util/fxapps/run.go
Owners: none

fix typo that was causing launchers not to register
  comp/logs/launchers/launchermgr/component.go
Owners: @DataDog/agent-metrics-logs

Much simpler OneShot function
  pkg/util/fxapps/oneshot.go
Owners: none

run inv generate
  COMPONENTS.md
Owners: none

upgrade to latest fx to get invoke ordering fix
  go.mod
  go.sum
Owners: none

Revert "Much simpler OneShot function"
  pkg/util/fxapps/oneshot.go
Owners: none

.github/CODEOWNERS:

# AUTOGENERATED CONTENT
comp/autodiscovery @DataDog/container-integrations
comp/core @DataDog/agent-shared-components
comp/logs @DataDog/agent-metrics-logs
comp/trace @DataDog/trace-agent
